# 1. Environment Setup

In [1]:
import math
import numpy as np
import pandas as pd

# 2. Data Acquisition

### 2.1 Variables Definition

In [2]:
alloy = ['all_1','all_2','all_3','all_4','all_5']
supplier = ['sup_1','sup_2','sup_3','sup_4','sup_5']
product = ['prod_1','prod_2','prod_3']
month = ['Init', 'Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
I = len(alloy)
J = len(supplier)
Z = len(product)
M = len(month)
q = 0.05
mu = 1

### 2.2 Data Filepath

In [3]:
file_loc = 'Data Templates.xlsx'

### 2.3 Contract Upper Threshold

In [4]:
contract_upper_threshold = pd.read_excel(file_loc,sheet_name='Contract Upper Threshold',header=2, na_values=['NA'], usecols="B:F")
contract_upper_threshold.index=alloy

C:\Users\siraj\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [5]:
h = contract_upper_threshold
contract_upper_threshold

            Supp A       Supp B       Supp C       Supp D      Supp E
all_1   750.000000   375.000000   625.000000   416.666667  333.333333
all_2  5000.000000   833.333333  2750.000000  1666.666667  416.666667
all_3  3750.000000  1250.000000  2916.666667  2104.166667  437.500000
all_4   208.333333    83.333333   187.500000   145.833333   41.666667
all_5   250.000000    95.833333   191.666667   150.000000   43.333333

### 2.4 Contract Lower Threshold

In [6]:
contract_lower_threshold = pd.read_excel(file_loc,sheet_name='Contract Lower Threshold',header=2, na_values=['NA'], usecols="B:F")
contract_lower_threshold.index=alloy

In [7]:
l = contract_lower_threshold
contract_lower_threshold

            Supp A      Supp B       Supp C       Supp D      Supp E
all_1   208.333333  291.666667   333.333333   375.000000  312.500000
all_2  2520.833333  416.666667   833.333333   500.000000  208.333333
all_3   850.000000  833.333333  1250.000000  1270.833333  429.166667
all_4    20.833333   50.000000    41.666667    54.166667   33.333333
all_5    41.666667   58.333333    44.166667    66.666667   34.166667

### 2.5 Contract Penalties

In [8]:
contract_penalties = pd.read_excel(file_loc,sheet_name='Contract Penalties',header=2, na_values=['NA'], usecols="B:F")
contract_penalties.index=['Penalty Fee %']

In [9]:
p = contract_penalties
contract_penalties

               Supp A  Supp B  Supp C  Supp D  Supp E
Penalty Fee %       1     0.6     0.9     0.7    0.44

### 2.6 Annual Contract Limit

In [10]:
annual_contracted_limit= pd.read_excel(file_loc,sheet_name='Annual Contracted Limit',header=2, na_values=['NA'], usecols="B:F")
annual_contracted_limit = annual_contracted_limit.iloc[:5,:]
annual_contracted_limit.index=alloy

In [11]:
k = annual_contracted_limit
annual_contracted_limit

        Supp A   Supp B   Supp C   Supp D   Supp E
all_1  10927.5   6556.5   4371.0   7867.8   9616.2
all_2  67200.0  33600.0  22400.0  44800.0  56000.0
all_3  17600.0  44000.0  35200.0  35200.0  44000.0
all_4   1560.0   1872.0   1768.0   3120.0   2080.0
all_5   1356.0   3616.0   2938.0   1130.0   2260.0

### 2.7 Unit Cost

In [12]:
unit_cost = pd.read_excel(file_loc,sheet_name='Unit Cost',header=2, na_values=['NA'], usecols="B:F")
unit_cost = unit_cost.iloc[:5,:]
unit_cost.index=alloy

In [13]:
c = unit_cost
unit_cost

        Supp A   Supp B   Supp C   Supp D   Supp E
all_1   3300.0   3290.0   3295.0   3293.0   3285.0
all_2    135.0    128.0    133.0    130.0    125.0
all_3     28.0     22.0     26.0     24.0     20.0
all_4  10300.0  10260.0  10285.0  10270.0  10240.0
all_5   2530.0   2450.0   2500.0   2470.0   2430.0

### 2.8 Product Revenue

In [14]:
prod_rev = pd.read_excel(file_loc,sheet_name='Prod Rev',header=2, na_values=['NA'], usecols="B:F")
prod_rev.index=['Revenue ($)']

In [15]:
r = prod_rev
prod_rev

             Prod 1  Prod 2  Prod 3
Revenue ($)  185000  180000  270000

### 2.9 Product Recipe

In [16]:
prod_recipe= pd.read_excel(file_loc,sheet_name='Prod Recipe',header=2, na_values=['NA'], usecols="B:D")
prod_recipe = prod_recipe.iloc[:5,:]
prod_recipe.index=alloy

In [17]:
u = prod_recipe
prod_recipe

       Prod 1    Prod 2  Prod 3
all_1  21.855   10.9275   43.71
all_2  67.200  336.0000  268.80
all_3   0.000  308.0000  176.00
all_4   7.280    5.2000    6.24
all_5   5.650   11.3000    2.26

### 2.10 Predicted Demand

In [18]:
predicted_demand= pd.read_excel(file_loc,sheet_name='Predicted Demand',header=2, na_values=['NA'], usecols="B:D")
predicted_demand.index=month

In [19]:
d = predicted_demand
predicted_demand

      Prod 1  Prod 2  Prod 3
Init     0.0     0.0     0.0
Jan     48.4    11.0    13.2
Feb     44.0    13.2    16.5
Mar     33.0    15.4    16.5
Apr     35.2    11.0    16.5
May     39.6    16.5    22.0
Jun     44.0    27.5    27.5
Jul     39.6    24.2    35.2
Aug     44.0    22.0    30.8
Sep     35.2    19.8    24.2
Oct     38.5    19.8    24.2
Nov     66.0    22.0    22.0
Dec     82.5    17.6    26.4

# 3. Baseline Model

In [20]:
alloy_demand = predicted_demand @ prod_recipe.T
alloy_demand

           all_1     all_2    all_3    all_4    all_5
Init     0.00000      0.00      0.0    0.000    0.000
Jan   1754.95650  10496.64   5711.2  491.920  427.592
Feb   1827.07800  11827.20   6969.6  491.920  435.050
Mar   1610.71350  11827.20   7647.2  423.280  397.760
Apr   1610.71350  10496.64   6292.0  416.416  360.470
May   2007.38175  14118.72   8954.0  511.368  459.910
Jun   2464.15125  19588.80  13310.0  634.920  621.500
Jul   2668.49550  20254.08  13648.8  633.776  576.752
Aug   2548.29300  18627.84  12196.8  626.912  566.808
Sep   2043.44250  15523.20  10357.6  510.224  477.312
Oct   2115.56400  15744.96  10357.6  534.248  495.957
Nov   2644.45500  17740.80  10648.0  732.160  671.220
Dec   3149.30550  18553.92  10067.2  856.856  724.669

In [24]:
cap_tracker = annual_contracted_limit.copy()

def order(a):
    orders = pd.DataFrame(np.zeros(M, S), index=month, columns=supplier)
    cap_tracker = annual_contracted_limit.loc[a].copy()
    
    for m in month:
        dem = alloy_demand.loc[m, a]
        sup_prices = unit_cost.loc[a]
        thresh_tracker = contract_upper_threshold.loc[a].copy()
        
        while dem > 0:            
            for s in supplier:
                if cap_tracker[s] == 0:
                    # Prohibit buying from suppliers with depleted stock for the year
                    sup_prices[s] = np.inf

                elif thresh_tracker[s] <= 0:
                    # Update pricing if month threshoold exceeded
                    sup_prices[s] = unit_cost.loc[a, s]*(1+contract_penalties[s])

            s_min = sup_prices.idxmin()

            if thresh_tracker[s_min] > 0: # have not exceeded monthly threshold yet
                # make an order that does not exceed monthly threshold, remaining demand, and remaining annual capacity
                order = min(thresh_tracker[s_min], cap_tracker[s_min], dem)
                # Update trackers
                dem -= order
                cap_tracker[s_min]-=order
                thresh_tracker[s_min]-=order
                orders.loc[m, s_min]+=order

            else: # Monthly theshold exceeded but still best option
                order = min(thresh_tracker[s_min], cap_tracker[s_min], dem


                    
                    
                        
            
            
    return orders

IndentationError: unexpected indent (<ipython-input-24-c08f7e8aa7a0>, line 12)